.titulo {
   --titulo-accent-color: #00368c;
   --titulo-accent-text-color: #fff;
   --titulo-text-color: var(--titulo-accent-color);

   --titulo-font-family: var(--heading-font-family);
   --titulo-font-style: normal;
   --titulo-letter-spacing: normal;

   color: var(--titulo-text-color);
   transition: color 0.2s ease;

   h1,
   h2,
   h3,
   h4,
   h5,
   h6 {
     margin-bottom: 0.5rem;
     font-family: var(--titulo-font-family);
     font-style: var(--titulo-font-style);
     letter-spacing: var(--titulo-letter-spacing);
     transition: color 0.2s ease;

     line-height: 1.0;

     i {
       margin-right: 5px;
     }

     strong {
       font-weight: 600;
     }
   }

   &.background {
     div {
       div {
         width: fit-content;
         background-color: var(--titulo-accent-color);
         padding: 0 10px;
         line-height: 3em;
         transition: background-color 0.2s ease;

         h1,
         h2,
         h3,
         h4,
         h5,
         h6 {
           text-transform: uppercase;
           color: var(--titulo-accent-text-color);
           fill: var(--titulo-accent-text-color);
         }
       }
     }
   }
 }

.titulo.deep-purple {

  --titulo-accent-color: #423188;
  --titulo-accent-text-color: #fff;
  --titulo-text-color: #3a3a3a; /* .deep-purple sem fundo é texto escuro */

  --titulo-font-family: "Orbitron-Regular";
  --titulo-font-style: oblique;
  --titulo-letter-spacing: 5px;
  
  h1,h2,h3,h4,h5,h6 {
    color: var(--titulo-text-color);
  }

  &.background {
    h1,h2,h3,h4,h5,h6 {
      font-style: var(--titulo-font-style);
    }
  }
}

body.theme-sepia .titulo:not(.deep-purple),
body.theme-gray .titulo:not(.deep-purple),
body.theme-dark .titulo:not(.deep-purple) {
  --titulo-accent-color: var(--text-color);
  --titulo-accent-text-color: var(--background-color);
  --titulo-text-color: var(--text-color);
}

body.theme-white .titulo:not(.deep-purple) {
  --titulo-accent-color: #00368c;
  --titulo-accent-text-color: #fff;
  --titulo-text-color: var(--titulo-accent-color);
}
