@media only print {
  * {
    background: transparent !important;
    color: #000 !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 1px solid #939393;
}

.table-bordered th, .table-bordered td {
  border: 1px solid #999999;
}

.table-bordered th, .table-bordered td {
  border: 1px solid #999999;
}

.table-bordered {
  border: 1px solid #999999;
  border-left: none;
  border-collapse: separate;
}

.table-bordered {
  border: 1px solid #ccc;
  border-left: none;
  border-collapse: separate;
}

.table thead {
  background: #ccc;
}

@media only print {
  * {
    background: transparent !important;
    color: #000 !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
}

@media only print {
  * {
    background: transparent !important;
    color: #000 !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
}

@media only print {
  * {
    background: transparent !important;
    color: #000 !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
}

@media only print {
  * {
    background: transparent !important;
    color: #000 !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 1px solid #939393;
}

.table-bordered th, .table-bordered td {
  border: 1px solid #999999;
}

.table-bordered th, .table-bordered td {
  border: 1px solid #999999;
}

.table-bordered {
  border: 1px solid #999999;
  border-left: none;
  border-collapse: collapse;
}

.table-bordered {
  border: 1px solid #ccc;
  border-left: none;
  border-collapse: collapse;
}

.table thead {
  background: #ccc;
}

@media only print {
  * {
    background: transparent !important;
    color: #000 !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
}

@media only print {
  * {
    background: transparent !important;
    color: #000 !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 1px solid #939393;
}

.table-bordered th, .table-bordered td {
  border: 1px solid #999999;
}

.table-bordered th, .table-bordered td {
  border: 1px solid #999999;
}

.table-bordered {
  border: 1px solid #999999;
  border-left: none;
  border-collapse: collapse;
}

.table-bordered {
  border: 1px solid #ccc;
  border-left: none;
  border-collapse: collapse;
}

.table thead {
  background: #ccc;
}

@media only print {
  * {
    background: transparent !important;
    color: #000 !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
}

