@media only print {
  * {
    background: transparent !important;
    color: #000 !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
}

@media only print {
  * {
    background: transparent !important;
    color: #000 !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
}

@media only print {
  * {
    background: transparent !important;
    color: #000 !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
}

@media only print {
  * {
    background: transparent !important;
    color: #000 !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
}

@media only print {
  p {
    orphans: 3;
    widows: 3;
  }
}

@media only print {
  * {
    background: transparent !important;
    color: #000 !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
}

@media only print {
  nav, footer, video, audio, object, embed {
    display: none;
  }
}

@media only print {
  p {
    orphans: 3;
    widows: 3;
  }
}

@media only print {
  .blockquote::before {
    color: #000000 !important;
  }
}

@media only print {
  .blockquote {
    padding-left: 20px;
    font-size: 1rem !important;
    font-size: 0.875rem !important;
    border-color: #000000;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-width: 0px;
    border-top: 0px;
    border-bottom: 0px;
    position: relative;
    display: block;
  }
}

@media only print {
  * {
    background: transparent !important;
    color: #000 !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
}

@media only print {
  nav, footer, video, audio, object, embed {
    display: none;
  }
}

@media only print {
  p {
    orphans: 3;
    widows: 3;
  }
}

@media only print {
  .blockquote::before {
    color: #000000 !important;
  }
}

@media only print {
  .blockquote {
    font-size: 1rem !important;
    font-size: 0.875rem !important;
    border: 0px;
    position: relative;
    display: block;
  }
}

@media only print {
  * {
    background: transparent !important;
    color: #000 !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
}

@media only print {
  * {
    background: transparent !important;
    color: #000 !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
}

@media only print {
  nav, footer, video, audio, object, embed {
    display: none;
  }
}

@media only print {
  p {
    orphans: 3;
    widows: 3;
  }
}

@media only print {
  .blockquote::before {
    color: #000000 !important;
  }
}

@media only print {
  .blockquote {
    padding-left: 20px;
    font-size: 1rem !important;
    font-size: 0.875rem !important;
    border-color: #000000;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-width: 0px;
    border-top: 0px;
    border-bottom: 0px;
    position: relative;
    display: block;
  }
}

@media only print {
  * {
    background: transparent !important;
    color: #000 !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
}

