.bg-light {
  background-color: #f8f9fa !important;
}

@media (max-width: 575.98px) {
  .image-bg {
    padding-top: 60px !important;
    background-image: url("https://cm-kls-content.s3.amazonaws.com/DESEN_WEBAULA/BOOTSTRAP/pattern-ld.png"), linear-gradient(45deg, #007ABF, #0055A5), linear-gradient(180deg, #fff, #fff);
    overflow: hidden;
    position: relative;
    min-height: 100vh !important;
    display: flex;
    align-items: center;
    background-attachment: fixed;
    padding-bottom: 10px !important;
    padding-left: 15px !important;
  }
}

@media (max-width: 575.98px) {
  .container.conteudo-bloco:first-child {
    top: auto !important;
    position: relative;
    z-index: 900;
    margin-bottom: 0;
    padding: 30px 30px 30px 45px;
  }
}

