.sanfona-v2 {
  --sanfona-header-bg: #dbe3ec; /* Cor da barra do header */
  --sanfona-header-text: var(--text-color, #3a3a3a); /* Cor do texto do header */
  --sanfona-body-bg: #fff; /* Fundo do conteúdo */
  --sanfona-body-text: var(--text-color, #3a3a3a); /* Texto do conteúdo */
  --sanfona-caption-text: #6c757d; /* Texto da legenda */

  margin-top: 40px;

  .accordion-item {
    background-color: var(--sanfona-header-bg);
    transition: background-color 0.2s ease;

    &-header {
      padding: 0.75rem 1.25rem;

      h5 {
        margin: 0;
        text-transform: uppercase;
        font-size: 1.25rem;
        font-weight: 500;

        a {
          width: 100%;
          display: flex;
          justify-content: space-between;
          cursor: pointer;
          text-decoration: none;
          color: var(--sanfona-header-text);
          transition: color 0.2s ease;

          &:hover {
            color: var(--sanfona-header-text);
            span {
              text-decoration: underline;
            }
          }
        }
      }
    }

    &-body {
      overflow: hidden;
      max-height: 0;
      transition: max-height 0.5s cubic-bezier(0, 1, 0, 1), padding 0.5s ease, background-color 0.2s ease;
      border: solid 2px var(--sanfona-header-bg); 
      border-radius: 3px;
      background-color: var(--sanfona-body-bg);
      padding: 0 1.25rem;

      &-text {
        font-size: 18px;
        color: var(--sanfona-body-text);
      }

      &-image {
        p {
          text-align: center;
          font-size: 80%;
          color: var(--sanfona-caption-text);
          margin: 10px 0;
          line-height: 1;
        }

        picture {
          width: 100%;
          display: flex;
          justify-content: center;
        }
      }
    }

    &.active {
      .accordion-item-body {
        max-height: 200vw;
        transition: max-height 0.5s ease-in-out;
        padding: 0.75rem 1.25rem;
      }
    }
  }
  &.deep-purple {
    --sanfona-header-bg: #b982ff;
  }
}

body.theme-sepia .sanfona-v2,
body.theme-gray .sanfona-v2,
body.theme-dark .sanfona {
  --sanfona-header-bg: var(--text-color);
  --sanfona-header-text: var(--background-color);

  --sanfona-body-bg: var(--background-color);
  --sanfona-body-text: var(--text-color);
  --sanfona-caption-text: var(--text-color);
}

body.theme-white .sanfona-v2 {
  --sanfona-header-bg: #dbe3ec;
  --sanfona-header-text: var(--text-color, #3a3a3a);
  --sanfona-body-bg: #fff;
  --sanfona-body-text: var(--text-color, #3a3a3a);
  --sanfona-caption-text: #6c757d;
}

// PDF MODE
body.pdf-mode .sanfona-v2 {
  .accordion-item {
    &-header {
      pointer-events: none;
      h5 a i {
        display: none !important;
      }
    }
    &-body {
      max-height: unset !important;
      overflow: visible !important;
      transition: none !important;
    }

    &.active .accordion-item-body {
        max-height: unset !important;
    }
  }
}