.audiobook {
    padding: 10px 0;
}

.audiobook .audiobook-title {
    font-family: var(--body-font-family);
    font-size: 16px;
    margin-bottom: 4px;
}

.audiobook audio {
    width: 100%;
}

.audiobook.full-width {
    width: 100%;
}

.audiobook.right,
.audiobook.left {
    width: 50%;
}

.audiobook.right {
    margin-left: auto;
}

.audiobook.left {
    margin-right: auto;
}
