.audiobook {
  .audiobook-title {
    font-family: Orbitron-Regular, sans-serif;
    font-size: 12px;
    margin-bottom: 4px;
  }

  audio {
    width: 100%;
  }

  &.full-width {
    width: 100%;
  }

  &.right,
  &.left {
    width: 50%;
  }

  &.right {
    margin-left: auto;
  }

  &.left {
    margin-right: auto;
  }
}
