.audiobook {
  padding: 10px 0;

  .audiobook-title {
    font-family: var(--body-font-family);
    font-size: 18px;
    margin-bottom: 4px;
  }

  audio {
    width: 100%;
  }

  &.full-width {
    width: 100%;
  }

  &.right,
  &.left {
    width: 50%;
  }

  &.right {
    margin-left: auto;
  }

  &.left {
    margin-right: auto;
  }
}
