.access-menu {
    position: sticky;
    background-color: #3A3A3A;
    top: 0;
    display: flex;
    gap: 8px;
    padding: 10px;
    z-index: 999;
    justify-content: end;
		button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
}

.access-menu button {
    cursor: pointer;
    background-color: #4c4c4c;
    color: #FFFFFF;
}



				.background-container {
  position: relative;

  .background-options {
    position: absolute;
    width: 40px;
    top:50px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: #4c4c4c;
    border-radius: 8px;
    box-shadow: 2px 2px 2px #3A3A3A;

    .background-button {
      border-radius: 50%;
      width: 20px;
      height: 20px;
      padding: 5px;
    }

    .background-button.--off-white {
      background-color: #FFF6E1;
    }
    .background-button.--white {
      background-color: #FFFFFF;
    }
    .background-button.--black {
      background-color: #0a0a0a;
    }
  }
}

.font-container {
  position: relative;
  .font-options {
    position: absolute;
    top:50px;
    padding: 10px;
    width: 120px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #4c4c4c;
    border-radius: 8px;
    box-shadow: 2px 2px 2px #3A3A3A;
  }
  .font-options button {
    transition: all .2s;
  }
  .font-options button:hover {
    background-color: #3a3a3a;
  }
}
